html {
    background-color: rgb(39, 26, 80);
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: inline;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebarText {
    color: rgb(255, 255, 255);
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;
    position: relative;
    width: 100%;
    font-family: monospace;
    font-size: large;
    font-weight: 300;
}

.sidebarText:hover {
    background-color: rgb(2, 82, 202);
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container>h1 {
    font-family: monospace;
    font-weight: 800;
    font-size: 50px;
    margin-top: 50px;
    color: blanchedalmond;
}

.container button {
    left: 0px;
}

.text {
    width: auto;
    height: auto;
    background: rgb(65, 65, 78);
    padding: 20px;
    margin: 40px 0;
    border-radius: 10px;
}

.text h1 {
    font-size: 40px;
    text-align: center;
    font-family: monospace;
    font-weight: 760;
    color: white;
}

.text p {
    font-family: monospace;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.text img {
    width: 800px;
    height: auto;
}

.text iframe {
    width: 800px;
    height: 450px;
}

#sidebar {
    background: rgb(65, 64, 64);
    width: 15%;
    height: 100%;
    position: fixed;
}

#closebtn {
    position: relative;
    width: 100%;
    height: 30px;
    font-family: monospace;
    font-size: 25px;
    background-color: rgb(255, 177, 177);
    color: black;
}

#toggle {
    position: fixed;
    left: 0px;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(76, 72, 92);
    color: white;
    border: white 2px;
    border-radius: 15px;
}

#toTopBtn {
    display: none;
    position: fixed;
    width: 60px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
}

@keyframes slide {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0);
    }
}